body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.column {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.monkey-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */
  height: 100%;           /* Ensure the container has a height to center within */
  padding: 0px;
}

.monkey-image {
  width: 300px;
  height: 170px;
  object-fit:cover;
  padding-top: 50px;
  vertical-align: center;
}


.text-container {
  background-color: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  margin: 20px;
}

button {
  background-color: #4CAF50; /* Green background */
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  color: white;             /* White text */
  border: none;             /* No border */
  padding: 10px 20px;       /* Add some padding */
  text-align: center;       /* Center the text */
  text-decoration: none;    /* Remove underline */
  display: inline-block;    /* Keep buttons inline */
  font-size: 16px;          /* Make the text readable */
  margin: 3px;             /* Add spacing between buttons */
  border-radius: 8px;       /* Rounded corners */
  cursor: pointer;          /* Pointer cursor on hover */
  transition: 0.3s;         /* Smooth hover effect */
}

/* Hover effect */
button:hover {
  background-color: #45a049; /* Darker green on hover */
  transform: scale(1.05);    /* Slightly enlarge the button */
}

/* Disabled button styling */
button:disabled {
  background-color: #cccccc; /* Grey background */
  color: #666666;            /* Dim text color */
  cursor: not-allowed;       /* Disabled cursor */
  opacity: 0.6;              /* Reduce opacity */
}

